*,body {
		padding: 0;
		margin: 0;
		color: white;
	
	}
	
	.bg-modal {
		width:100%;
		height: 100%;
		background-color: rgba(0,0,0,0.7);
		position: absolute;
		top: 0;
		z-index: 99;
		display:flex;
		justify-content: center;
		align-items: center;
		padding: 10%;
	}
	.model-content {
		margin:auto;
		background-color: none;
	}
	
/* Top banner css code starts here */

	.logo_bar{
		margin: 0;
		padding: 0;
		float:left;
		#background-color: yellow;
		overflow:hidden;
	}
	.logo_img1 {
		float:left;
		
		margin-top: 5px;
		margin-bottom: 5px;
		width:120px; 
		height:100px; 
		background-color:; 
		padding-right:20px; 
		margin-left: 30px;
	}
	.logo_img2 {
		
		float:left;
		margin-top: 5px;
		margin-bottom: 5px;
		width:200px;
		height:80px; 
		margin-top:14px; 
		padding-left:20px; 
		background-color:; 
		border-left: 1px solid blue;

	}

	.jumbotron {
      margin-bottom: 0;
	  padding: 20px;
	  padding-bottom: 10px;
		padding-top: 10px;
		 background-image: linear-gradient(to right,#0b2562,#0b4664,#0b2562); 
    }

	.header_con {
		width:100%;
		margin:0px;
		#padding:0px;
	}
	.container > img {
		
	}
	.left_logo_img {
		float:left;
		height:80px;
		width: 300px;
	}
	.right_logo_img {
		float:right;
		height:80px;
	}
	@media only screen and (max-width: 600px) {
			.right_logo_img {
				display: none;
			}
	}
/* Top banner css code ends here */
	
/* Nav Bar css code starts here */

	.navbar,.nav-inverse,.container-fluid {
		min-height: 30px;
		padding-bottom: 0px;
		padding-top: 0px;
		#background-color: #32485d;
		background: linear-gradient(to bottom,#476785,#32485d);
		margin: 0px;
		border:0;
		color: #fff;
		position: relative;
	}
	
	.nav li {
		color: white;
	}
	.nav li a {
		padding: 12px;
		padding-bottom: 8px;
		padding-top: 8px;
		font-size: 18px;
		
		color: white;
		
	}
	.navbar-inverse .navbar-nav>li>a {
	
		color: white;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		background-color: #333;
		
	}
.dropdown-menu>li>a {
	color: #333;
}

/* Nav Bar css code ends here */

/* carousel slider css code starts here */

	.carousel, .slide, .carousel-inner,.item {
		
		height: 200px;
	}
	.carousel-inner >.item > img {
		height: 100%;
		width: 100%;
	}
	
/* carousel slider css code ends here */

/* bar css code starts here */

.news_cover h2 {
	
	color: #777777;
    #background: #e8e9eb;
	background: #e6e6e6;
    margin: 0 0;
    font-size: 14px;
    text-align: center;
    width: auto;
    position: relative;
    height: 35px;
    margin-right: 0%;
    padding-top: 12px;
    font-weight: bold;
}

.news_cover h2::after {
	border-top: 18px solid #476785;
    border-left: 15px solid #e8e9eb;
    border-bottom: 17px solid #32485d;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
}

#ticker_container {
	margin-top: 9px;
}

#ticker {
	#background: #3878a8 !important;
	background: linear-gradient(to bottom,#476785,#32485d);
}

#newscontent {
	margin-right: 10px;
	float: left;
}

#newscontent a {
	color: #fff;
}

#news {
	display: none;
}

#controls {
	float: right;
	height: 16px;
}

#news {
	display: none;
}

.news_tricker {
	width: 100%;
	#background: #32485d;
	background: linear-gradient(to bottom,#476785,#32485d);
    height: 36px;
}
.hearing_main {
	color: #777777;    
	#background: #e8e9eb;  
	background: #e6e6e6;
	margin: 0 0;    
	font-size: 14px;    
	text-align: center;    
	width: auto;    
	position: relative;    
	height: 35px;    
	margin-right: 0%;    
	padding-top: 8px;    
	font-weight: bold;
}

.hearing_main a{text-decoration: none !important;
    color: #777777;
    padding: 0px;
    display: block;}
    
.hearing_main a:hover {
	color: #ffffffbd;
}

/* bar css code ends here */


.no-padding{
		padding:0px;
}

/* banner css code starts here */

.bann_column1 {
	
	
	padding:0px ; 
	margin-bottom:20px; 
	
}

.tab_block_row {
	background: #e6e6e6;	
	margin: 0px;
	padding:0px;
	box-shadow: 1px 2px 7px #757575;
}
.tab_block {
	background-color: white;
	overflow: hidden;
	text-align: center;
	border: 1px solid #777777;
	border-radius: 15px;
	padding: 12px 0px;
	min-height: 140px;
}
.img_block {
	text-align: center;
	#background-color: red;
	margin-bottom: 20px;
}
.img_block>img {
	margin:auto;
	height: 50px;
}
.info_block> h4{
	width:75%;
	margin: auto;
}



.bann_column2 {
	
	padding-right: 15px; padding-left: 15px; margin-bottom:20px;
}
.chairman_block{
	width:85%; 
	margin:auto;
	background-color: #EEEEEE;
	overflow: hidden;
	text-align: center;
	padding: 2px;
	#border: 1px solid #777777;
	#border-radius: 15px;
	#padding: 12px 0px;
	min-height: 140px;
	box-shadow: 1px 2px 7px #757575;
}
.chairman_img_block>img {
	margin:auto;
	height: 150px;
	width:100%;
	border-radius: 5px;
}	
.info_block> h5{
	margin: 2px;
	margin-top:10px;
	margin-bottom: 5px;
}
.info_block> h6{
	margin: 2px;
	margin-top:5px;
	margin-bottom: 5px;
}


.bann_column3 {

	padding-right: 15px; padding-left: 15px; margin-bottom:20px; 
}
.member_block{
	width:95%; 
	margin:auto;
	background-color: #EEEEEE;
	overflow: hidden;
	text-align: center;
	padding: 2px;
	min-height: 140px;
	box-shadow: 1px 2px 7px #757575;
}	
.mem_img_block>img{
	margin:auto;
	height: 70px;
	width:auto;
	border-radius: 5px;
}

/* banner css code ends here*/


/* notice block css code starts here*/

.notice_block_row {
	#background: #e6e6e6;	
	margin: 0px;
	padding:0px;
	padding: 0px 0px 0px 0px;
	#box-shadow: 1px 2px 7px #757575;
	
}

.notice_block {
	background-color: white;
	overflow: hidden;
	text-align: center;
	border: 1px solid #32485d;
	border-radius: 15px;
	padding: 0px 0px;
	min-height: 140px;
	box-shadow: 1px 2px 7px #757575;
}
.head_block {
	margin:0px;
	padding: 10px;
	#background-color: #32485d;
	background: linear-gradient(to bottom,#476785,#32485d);
}

.head_block>h4 {
	margin:0px;
}

.cont_block {
	
	#height: 300px;
	
}

#wrapper{
	padding:0px;
	width:100%;
	margin:0 auto;
}
 
#wrapper>p { 

	color:#fff; 
	padding:10px 0; 
	text-align:center;

}
	
#wrapper a, #footer a {
	
	color:#e8914c; 
	text-decoration:none; 
	border-bottom:1px dotted #e8914c;

}

#wrapper a:hover, #footer a:hover {
	color:#eab209; 
	border-bottom:1px dotted #eab209;
}


#vertical-ticker{
	height:300px;
	overflow:hidden;
	margin:0; padding:0;
	#-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

#vertical-ticker li{
		
		padding:10px 10px;
		display:block;
		color:#333;
		border-bottom:1px solid #ddd;
		text-align:center;
		font-size:14px;
		font-weight:bold;
		
}

#wrapper1{
	padding:0px;
	width:100%;
	margin:0 auto;
}
 
#wrapper1>p { 

	color:#fff; 
	padding:10px 0; 
	text-align:center;

}
	
#wrapper1 a {
	
	color:#e8914c; 
	text-decoration:none; 
	border-bottom:1px dotted #e8914c;

}

#wrapper1 a:hover {
	color:#eab209; 
	border-bottom:1px dotted #eab209;
}


#vertical-ticker1{
	height:300px;
	overflow:hidden;
	margin:0; padding:0;
	#-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

#vertical-ticker1 li{
		
		padding:10px 10px;
		display:block;
		color:#333;
		border-bottom:1px solid #ddd;
		text-align:center;
		font-size:14px;
		font-weight:bold;
		
}

#wrapper2 {
	padding:0px;
	width:100%;
	margin:0 auto;
}
 
#wrapper2 >p { 

	color:#fff; 
	padding:10px 0; 
	text-align:center;

}
	
#wrapper2 a {
	
	color:#e8914c; 
	text-decoration:none; 
	border-bottom:1px dotted #e8914c;

}

#wrapper2 a:hover {
	color:#eab209; 
	border-bottom:1px dotted #eab209;
}


#vertical-ticker2{
	height:300px;
	overflow:hidden;
	margin:0; padding:0;
	#-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

#vertical-ticker2 li{
		
		padding:10px 10px;
		display:block;
		color:#333;
		border-bottom:1px solid #ddd;
		text-align:center;
		font-size:14px;
		font-weight:bold;
		
}
/* notice block css code starts here*/


/* help css code starts here*/

.help_block {
	
	text-align: left;
	color: #32192e;
	padding: 0px 20px 0px 20px;

}

.sub_help_block {
	margin: 0px;
	padding: 10px;
	
}
.sub_help_block>h5{
		#color:#32192e;
		color:#333;
		margin: 0px;
		font-size:14px;
		font-weight:bold;
		
}

/* help css code ends here*/

/* footer css code starts here*/

.footer_logo_ul {
	list-style: none;
	display: inline-block;
}

.footer_logo{
	display: inline-block;
	padding: 0px 20px;
	
}
.footer_logo>img{
	height: 80px;
}

@media only screen and (max-width: 990px) {
	.tab_block_row {
		width:90%;
		margin: auto;
	}
	.bann_column2 {
		padding: 0px;	
	}
	.chairman_block{
		width:90%; 
		margin:auto;
	}
	.chairman_img_block>img {
		margin:auto;
		height: 150px;
		width:auto;
		border-radius: 5px;
	}
	.bann_column3 {
		padding: 0px;	
	}
	.member_block{
		width:90%; 
		margin:auto;
	}
	.notice_column{
		padding: 0px;
	}
	.notice_block {
		width:90%; 
		margin:auto;
	}
}

/* footer css code ends here*/